{% load static %}
<html>
    <head>
        <title>Curious.Cooperative.Conscientious.</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Montserrat&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <body style="padding-left:15px;">
        <div>
            <h1 style="font-family:Montserrat;"><h1 style="color:#ff6500;">Curious.</h1>
            <h1 style="font-family:Montserrat;"><h1 style="color:#f8049c;">Cooperative.</h1>
            <h1 style="font-family:Montserrat;"><h1 style="color:#3a046d;">Conscientious.</h1>
        </div>
       <div>
            <img>
            <img style="margin-left:350px;">   
            <img src="{% static 'img/Prisma.png' %}" alt="Curious.Conscientious.Cooperative" style="width:786px;height:556px;">
        </div>
     <br>
            <p>
                <p style="font-family:Montserrat;"><p style="font-size:16px;">Would you like to know more about me? <a href="https://www.instagram.com/chcemisie/?hl=en">Have a glimpse at what I do in my free time. </a>Please do not hesitate to <a href="mailto:aapilitowska@gmail.com">contact me</a> if you have any further questions, I look forward to meeting you in person again!
            </p>
    </body>
</html>